.app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
}

.section-event {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.modal-gif {
  width: 100%;
}
